/*
Author = Siddharth Parmar

IMG 209
Project Aquila
Date : 07/11/16

blue = 3F51B5
pink = FF4081
*/



/*
=====================================
    fonts
=====================================

*/

@font-face {
    font-family: "Helvetica Neue Medium";
    src: url(../fonts/HelveticaNeueMedium.ttf) format("truetype");
}

@font-face {
    font-family: "HelveticaNeue Light";
    src: url(../fonts/HelveticaNeueLight.ttf) format("truetype");
}


/*
=================================================================
    Universal settings for headers and paragraphs and links
=================================================================

*/

h1, h2, h3, h4, h5 {
    font-family: "Helvetica Neue Medium";
}

a {
    font-family: "HelveticaNeue Light";
    font-size: 15px;
}

p {
    font-family: "HelveticaNeue Light";
    font-size: 16px;
    margin: 0 auto 5% 2%;
}

h1{
    font-size: 50px;
    line-height: 1.25;
    letter-spacing: 3px;
    font-weight: 600;
}

a {
    color: #3F51B5;
}

/*
============================
    header/ section 1
============================

*/

header .navWrapper{
/*    margin-top: 25px;*/
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #3F51B5;
    height: 50px;
    border: none;
    float: none;
    padding: 0;
}

.navbar .navbar-nav {
    display: inline-block;
}

nav {
    height: 50px;
    text-align: center;
    
}
 nav ul li {
    display: inline-block;
    margin-right: 45px; 
    margin-left: 45px;
    line-height: 50px;
}

nav ul li a {
    font-family: "Helvetica Neue Medium";
    font-size: 1.4em;
    color: #E0E0E0;
}
nav ul li a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

navbar-nav li>a::active{
    color: white;
}

.navWrapper {
    background-color: #3F51B5;
}

/*  
==================================
    hero image and text
    hero section
==================================
*/

.hero-text {
	color: #FFFFFF;
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0 auto;
/*    position: relative;*/
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    
}

.hero {
/*	background: url("../images/heroImage.jpg") no-repeat;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    position: relative;*/
/*    padding: 300px 0;*/
/*    width: 100%;*/
}

section .hero-video video{
    width: 100%;
}

section .featured-video-wrapper {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

section .featured-video-wrapper>video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}


/*  play button image*/
.playButton, .pauseButton {
    width: 90px;
/*
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
*/
    position: relative;
    height: 90px;
}

#playButtonForTechPage {
/*
	top: 0;
    left: 0;
    margin: 25% 82% auto auto;
*/
    transform: translateY(150%);
}

/* 
==================================================
                    section 2
==================================================
*/

.section2 {
	background-color: #E0E0E0;
    position: relative;
    margin-top: -10px;
}

.section2 h1 {
    text-align: center;
    opacity: 0.87;
}

.whole-section2-wrapper{
    	background-color: #FAFAFA;
}
.section2 .container{

}

.section2 .section2-wrapper.intro{
	 background-color: #FAFAFA;
     margin-top: -40px;
/*    margin-bottom: -40px;*/
}

.section2 .section2-wrapper{
	 background-color: #FAFAFA;
/*    padding-bottom: 40px;*/
/*     margin-top: -40px;*/
}

.section2-wrapper-footer {
    padding-bottom: 15px;
}

.sec2-tech-name {
	margin-left: 4%;
    opacity: 0.54;
}

.sec2-tech-details a {
	opacity: 0.54;
    text-decoration: none;
}

.aquila-project-intro p{
    margin-top: 1%;
	margin-left: 2%;
    
/*    background-color: aqua;*/
}

.gallery-thumbnails-row {
	margin-top: 7%;
}

.gallery-thumbnail {
	height: 100%;
    width: 100%;
}

.section2 .row{
    margin-bottom: 2%;
}

/* 
==================================================
                    section 3/ footer
==================================================
*/

.section3 {
	background-color: #E0E0E0;
/*    position: absolute;*/
/*    margin: 60% 0% 0% 8%;*/
}

.section3 .footer-wrapper{
     padding-top: 7%;
	 background-color: #F5F5F5;
     padding-bottom: 2%;
}


.section3 .secondary-nav li{
	text-decoration: none;
    display: inline-block;
    margin-right: 9%;
}

.secondary-nav li a{
	font-size: 18px;
    text-decoration: none;
}

.copyright-slogan {
    opacity: 0.54;
}

/* 
==================================================
==================================================

                    technology page 

==================================================
==================================================
*/
/*
                hero image
*/

.hero-technology{
   	background: url("../images/hero-tech.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 300px 0;
    width: 100%;
    opacity: 0.8;
}

.hero-tech-text {
    font-family: "Helvetica Neue Medium";
    color: #FFFFFF;
    font-size: 50px;
    line-height: 1.25;
    letter-spacing: 3px;
    font-weight: 600;
    text-align: center;
    margin: -20% 0% 0% 4%
}



/*
==================================================
                     section 2
                        nav pills
==================================================
*/

.nav-pills>li {
    float: left;
    width: 49%;
    text-align: center;
}

.section2 .nav {
    margin-bottom: 0;
    list-style: none;
    }

.section2 .pill-wrapper{
	padding-top: 2%;
    padding-left: 2%;
    padding-right: 1%;
}

.nav-pills>li.active>a {
    color: #fff;
    background-color: #3F51B5;
    opacity: 0.87;
    font-size: 20px;
}

.nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #3F51B5;
    opacity: 1;
}

.nav-pills>li.inactive>a {
    color: white;
    background-color: #FF4081;
    opacity: 0.40;
    font-size: 20px;
}


.tab-content-wrapper {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

/* section 2 video*/
.section2-video-wrapper {
    position: relative;
    /* margin: 2% 20% 5% 22%; */
     text-align: center; 
}

/*play button*/

.section2-playbutton-wrapper {
    position: absolute;
    z-index: 1;
    /* margin: 11% 0 0 18%; */
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 600px;
    text-align: center;
}

#aviationTechVideo {
    height: 400px;
    width: 100%;
}

/*aviation page*/
.test-title {
    font-family: "Helvetica Neue Medium";
    font-weight: 600;
    font-size: 18px;
}




/*communication page*/


.comm-images {
    margin-bottom: 5%;   
}


#comm-image1>img {
    background: url(../images/communicaiton.jpg) no-repeat;  
    width: 600px;
    height: 338px;
}

#comm-image2>img{
	background: url("../images/communicaiton2.png") no-repeat;
    width: 600px;
    height: 338px;
}

#comm-image3>img{
	background: url("../images/communicaiton3.png") no-repeat;
    width: 600px;
    height: 338px;
}



/*gallery page*/

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
}

.carousel-caption {
    text-align: left;
}

.gallery-thumbnails {
    padding: 3% 0 0 4%;
}

.gallery-thumbnails>a {
    margin-right: 2%;
}

.thumbnail-wrapper {
    margin-bottom: 4%;
}

.makeItCover {
    background-size: cover;
}


/*gallery images*/
.modal-body>img {
    width: 100%;
}

.galleryThumbnaiPlayButton{
    transform: translateY(50%);
    left: -5%;
}

#section2-wrapper-galleryPage {
    margin-bottom: -2%;
}












/*MEDIA QUERIES */


/* screen-lg 1200px */

@media (max-width: 1200px) {
    
        .gallery-thumbnail {
        height: 100%;
        width: 100%;
    }
        .gallery-thumbnail-video {
        height: 240px;
        width: 360px;
    }
    
}
    
@media (max-width: 992px) {
    
    .hero-text {
	top: 40%;
    }
    
    .hero-text>h1 {
	margin-bottom: 2%;
    }
    
    .section3 .secondary-nav li {
    margin-right: 6%;
    }
        
    .copyright-slogan {
    text-align: center;
    }
    
    #playButtonForTechPage {
    transform: translateY(160%);
    }
    
    .section2-video-wrapper {
    text-align: center;
    }
}

@media (max-width: 768px) {
    
    .navbar-toggle {
        border-color: white;
    }
    
    .icon-bar {
        background-color: white;
    }
    
    .navbar-nav {
	margin-top: 0;
        z-index: 2;
    }
    
    .navbar-collapse {
        border: none;
    }
    
    .hero-text {
	top: 30%;
    }
    
    h1{
        font-size: 45px;
    }
    
    .playButton, .pauseButton {
    width: 60px;
    height: 60px;
    }
    
    #playButtonForTechPage {
    transform: translateY(260%);
    }
    
    .galleryThumbnaiPlayButton {
    transform: translateY(100%);
    }
}

@media (max-width: 480px) {
    
    nav ul li {
    display: inline-block;
    margin-right: 15px;
     margin-left: 15px; 
    line-height: 30px;
        
    }
    
    .navbar-toggle {
        border-color: white;
    }
    
    .icon-bar {
        background-color: white;
    }
    
    .hero-text {
	top: 20%;
    }
    
    h1 {
    font-size: 30px;
    }
    
    .playButton, .pauseButton {
    width: 40px;
    height: 40px;
    }
    
    .section3 .secondary-nav li {
    margin-right: 45px;
    margin-bottom: 5%;
    }
    
    #aviationTechVideo {
	height: 250px;
}
    
    #playButtonForTechPage {
    transform: translateY(260%);
}
    
}